---
import Default from "../layouts/default.astro"
import Meta from "../components/meta.astro"
---

<Default>
	<div slot="head">
		<Meta title="Zen" description="A blog about frontend world and psychology"/>
	</div>
	<div slot="body">
		<h1>Hello world...</h1>
	</div>
</Default>
